:root {
  --black: #121212;
  --white: #f9f9f9;
  --dark-gray: #353535;
  --gray: #666;
  --blue: #2176ae;
  --light-blue: #57b8ff;
  --yellow: #fbb13c;
  --orange: #fe6847;
  --green: #1fb157;
}

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(15deg, var(--black) 60%, var(--dark-gray));
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="url"],
input[type="email"],
select,
textarea {
  width: 100%;
  border: 2px solid;
  padding: 0.5rem;
  font-family: inherit;
  background: var(--dark-gray);
  border-color: var(--gray);
  color: var(--white);
  outline: none;
}

fieldset {
  border: 2px solid var(--gray);
}

input[type="submit"] {
  border: 2px solid;
  font-size: 1.2rem;
  padding: 1rem 2rem;
  transition: 250ms;
  cursor: pointer;
}

input[type="submit"]:hover {
  filter: brightness(1.25);
}

form {
  padding: 3rem;
  width: 768px;
  max-width: 100%;
  margin: 0 auto 2rem;
  background: var(--black);
}

ada-input {
  display: block;
  margin-bottom: 2rem;
}

ada-input:focus-within input,
ada-input:focus-within select,
ada-input:focus-within textarea,
ada-input:focus-within fieldset {
  border: 2px solid var(--yellow);
}

ada-input.error input,
ada-input.error select,
ada-input.error textarea,
ada-input.error fieldset {
  border: 2px solid var(--orange);
}

ada-input.valid input,
ada-input.valid select,
ada-input.valid textarea,
ada-input.valid fieldset {
  border: 2px solid var(--green);
}

ada-option {
  display: flex;
  align-items: center;
}

ada-option label {
  margin: 0 0 0 0.5rem;
}

.ada-input--error {
  color: var(--orange);
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}

.ada-input--description {
  font-size: 0.8rem;
  opacity: 0.7;
}
